/* Globale Stile */
html,
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1f1f1f; /* Dunkler Hintergrund */
  color: #ccc; /* Heller Text für Kontrast */
  line-height: 1.6;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  overflow-x: hidden;
}

/* Header */

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

/* Contact Section */
#contact {
  padding: 20px;
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

label,
input,
textarea,
button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 150px;
}

button {
  background-color: #24292e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  margin: 0 auto;
}

button:hover {
  background-color: #ffd700;
}

/* Footer */

/* CSS für die Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Anwendung der Animation auf das Element */
h2 {
  /* Andere vorhandene Styles */
  /* ... */
  padding: 0 2rem;
  text-align: center;
  /* Füge die Animation hinzu */
  animation: fadeIn 3s ease forwards;
  /* Das Element wird innerhalb von 1 Sekunde eingefadet */
}

/* CSS für die Animation */
@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Anwendung der Animation auf die Absätze */
.p-1,
.p-2 {
  /* Andere vorhandene Styles */
  /* ... */

  /* Zentrieren des Textes */
  text-align: center;

  /* Füge die Animation hinzu */
  opacity: 0; /* Startzustand: unsichtbar */
  animation: fadeInSlide 2s ease forwards;
  /* Das Element wird innerhalb von 1 Sekunde eingefadet */
  animation-delay: 0.5s; /* Verzögerung der Animation um 0,5 Sekunden */
}
